= render partial: 'base/blocks/photos', locals: { profile: profile} if show_photos?(profile)
= render partial: 'base/blocks/music', locals: { profile: profile } if show_music?(profile)
= render partial: 'base/blocks/videos', locals: { profile: profile } if show_videos?(profile)
= render partial: 'base/blocks/location', locals: { profile: profile } if show_location?(profile)
