= render 'base/blocks/photos', profile: profile if show_public_photos?(profile)
= render 'base/blocks/music', profile: profile if show_public_music?(profile)
= render 'base/blocks/videos', profile: profile if show_public_videos?(profile)
= render 'base/blocks/location', profile: profile if show_public_location?(profile)