<head>
  <title><%= yield(:title).presence || 'TrendyReggae' %></title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag 'header' %>
  <%= csrf_meta_tags %>
</head>