/*
  Use this file to add your own developer styles, that are not presented in original styles
 */

.form-group {
  .error-message {
    right: 15px !important;
  }
}

.sign-in .login .log-pass select.parsley-error {
  border: 1px solid red!important;
  box-sizing: border-box;
  position: relative;
  display: block;
}

.error-border {
  border:1px solid red !important
}

.has-down-error .error-message {
  position: static;
  text-align: left;
  margin-top: 10px;
}
