/*
  Use this file to add your own developer styles, that are not presented in original styles
 */

.form-group {
  .error-message {
    right: 15px !important;
  }
}

.sign-in .login .log-pass select.parsley-error {
  border: 1px solid red!important;
  box-sizing: border-box;
  position: relative;
  display: block;
}

.error-border {
  border:1px solid red !important
}

.has-down-error .error-message {
  position: static;
  text-align: left;
  margin-top: 10px;
}

#root tr td.nameArtist, .message-list tr {
  cursor: pointer;
}

.scroll-to {
  visibility: hidden;
}

.music-menu ul li.active a.active {
  float: none;
}

.album-logo {
  min-height: 160px;
}

.search_sidebar_list .search_sidebar_item.active {
  float: none;
}

.top_result_avatar {
  min-height: 200px;
}
select{
  background:none;
}
