/*
  Use this file to override paths/URLs from original styles for correct precompilation
  
  asset-url("rails.png") becomes url(/assets/rails.png)
  asset-path("rails.png") becomes "/assets/rails.png"
 */
.discovery-banner {
  background-image: asset-url("banners/discovery.jpg");
}

.discovery-gigs-banner {
  background-image: asset-url("banners/discovery-page.jpg");
}

.discovery-music-banner {
  background-image: asset-url("banners/discovery-music.jpg");
}

.discovery-promoters-banner {
  background-image: asset-url("banners/discovery-promoters.jpg");
}

.discovery-managers-banner {
  background-image: asset-url("banners/discovery-managers.jpg");
}

.discovery-producer-banner {
  background-image: asset-url("banners/discovery-produser.jpg");
}

.discovery-label-banner {
  background-image: asset-url("banners/discovery-label.jpg");
}

.djs-block [class*=album-logo]:after, .gigs-block [class*=album-logo]:after {
  background: asset-url("icons/sprite.png") -70px -141px;
}
.djs-block .album-logo-promo:before, .gigs-block .album-logo-promo:before {
  background: asset-url("icons/sprite.png") -1px -163px;
}

.djs-block .album-logo-manager:before, .gigs-block .album-logo-manager:before {
  background: asset-url("icons/sprite.png") -1px -163px;
}

.djs-content .all-content .gigs_content .promo-logo-now:after {
  background: asset-url("icons/sprite.png") -102px -201px;
}

.djs-content .all-content .gigs_content .promo-logo-days:after {
  background: asset-url("icons/sprite.png") -41px -201px;
}

.sign-in .login {
  background: asset-url("background/sign-in.png") no-repeat #fff;
  background-size: cover;
}

[class^="icon-"], [class*="icon-"] {
  background-image: asset-url("icons/sprite.png");
}

.callout-banner.banner-intro {
  background-image: asset-url("banners/landing-banner.jpg");
}

.callout-banner.banner-bottom {
  background-image: asset-url("banners/bottom-banner.jpg");
}

.drop-files {
  background: asset-url("icons/upload-cover.png") center no-repeat;
}

.profile-public .public-name {
  background: asset-url("background/public-name.png") repeat;
}

.profile-public .public .public-foto:before {
  background: asset-url("icons/sprite.png") -1px -163px;
}

.drop-files{
  background: asset-url('icons/upload-cover.png') center no-repeat;
}

 .logo-now {
  background: asset-url('icons/sprite.png') -102px -201px;
}

.logo-days {
  background: asset-url('icons/sprite.png') -41px -201px;
}

.logo-month {
  background: asset-url('icons/sprite.png') no-repeat -93px -355px;
}

.profile-public .public-foto:before {
  background: asset-url('icons/sprite.png') -1px -163px;
}

.logo-featured {
  background: asset-url('icons/sprite.png') -70px -141px;
}

.venueGallery .nameGallery {
  background: asset-url('background/public-name.png') repeat;
}

.slider .slick-prev,
.slider .slick-next {
  background-image: asset-url('icons/sprite.png');
}

.vjs-big-play-button {
  background-image: asset-url('icons/sprite.png');
}

.fancybox-overlay {
  background: asset-url('icons/fancybox_overlay.png');
}

#fancybox-loading div {
  background: asset-url('icons/fancybox_loading.gif') center no-repeat;
}

.fancybox-close, .fancybox-prev span, .fancybox-next span {
  background-image: asset-url('icons/sprite.png');
}

.fancybox-nav {
  background: transparent asset-url('icons/blank.gif'); /* helps IE */
}

.date:after {
  background: asset-url('icons/sprite.png') no-repeat -24px -68px;
}

.profile-public {
}

.jcrop-vline,
.jcrop-hline {
  background: #ffffff asset-url('Jcrop.gif');
}

#fancybox-loading div {
  background: asset-url('icons/fancybox_loading.gif') center center no-repeat;
}

.public-event .nameVideo {
  background:  asset-url('background/public-name.png') repeat;
}

.result_search .result_search_name {
  background: asset-url('background/public-name.png');
}

.search_block .form-group:before {
  background: asset-url('icons/sprite.png') -6px -570px;
}
